:root {
    --size: 40px;
    --m-color: #2AA0AB;
}

h1{
    color: var(--m-color);
}

main{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.triangle{
    margin: 10px;
    width : 0;
    height: var(--size);
    border-right: var(--size) solid rgba(0, 0, 0, 0);
    border-left: var(--size) solid rgba(0, 0, 0, 0);
    border-bottom: var(--size) solid var(--m-color);
    border-top: 0;
    border-radius: 90px;
    background-color: black;
}

.triangle:hover{
    animation: masuperanimation 0.5s ;
    border-bottom: var(--size) solid black;
    background-color: var(--m-color);
}

@keyframes masuperanimation {
    0% {
        transform: rotate(0deg);
        border-bottom: var(--size) solid var(--m-color);
        background-color: black;
    }
    
    /*50% {*/
        /*transform: rotate(180deg);*/
        /*border-bottom: var(--size) solid white;*/
        /*background-color: grey;*/
    /*}*/
    
    100% {
        transform: rotate(360deg);
        border-bottom: var(--size) solid black;
        background-color: var(--m-color);
    }
}

.triangle2{
    margin: 10px;
    width : 0;
    height: var(--size);
    border-right: var(--size) solid rgba(0, 0, 0, 0);
    border-left: var(--size) solid rgba(0, 0, 0, 0);
    border-bottom: var(--size) solid var(--m-color);
    border-top: 0;
    border-radius: 90px;
    background-color: black;
}

.triangle2:hover{
    animation: animation2 1s infinite;
    width : 0;
    height: var(--size);
    border-right: var(--size) solid rgba(0, 0, 0, 0);
    border-left: var(--size) solid rgba(0, 0, 0, 0);
    border-top: var(--size) solid var(--m-color);
    border-bottom: 0;
    border-radius: 90px;
    background-color: black;
}

@keyframes animation2 {
    0% {
        margin: 10px;
        width : 0;
        height: var(--size);
        border-right: var(--size) solid rgba(0, 0, 0, 0);
        border-left: var(--size) solid rgba(0, 0, 0, 0);
        border-bottom: var(--size) solid var(--m-color);
        border-top: 0;
        border-radius: 90px;
        background-color: black;
    }
    
    33% {
        width : 80px;
        height: 40px;
        border-right: 0px solid rgba(0, 0, 0, 0);
        border-left: 0px solid rgba(0, 0, 0, 0);
        border-bottom: 40px solid var(--m-color);
        border-top: 0px solid rgba(0, 0, 0, 0);
        background-color: black;
        border-radius: 90px;
        transform: rotate(180deg);
    }
    
    66% {
        width : 80px;
        height: 40px;
        border-right: 0px solid rgba(0, 0, 0, 0);
        border-left: 0px solid rgba(0, 0, 0, 0);
        border-top: 40px solid var(--m-color);
        border-bottom: 0px solid rgba(0, 0, 0, 0);
        background-color: black;
        border-radius: 90px;
        /*transform: rotate(180deg);*/
    }
    
    100% {
        width : 0;
        height: var(--size);
        border-right: var(--size) solid rgba(0, 0, 0, 0);
        border-left: var(--size) solid rgba(0, 0, 0, 0);
        border-top: var(--size) solid var(--m-color);
        border-bottom: 0;
        border-radius: 90px;
        background-color: black;
    }
}

.square{
    margin: 10px;
    width : 80px;
    height: 40px;
    border-right: 0px solid rgba(0, 0, 0, 0);
    border-left: 0px solid rgba(0, 0, 0, 0);
    border-bottom: 40px solid var(--m-color);
    border-top: 0px solid rgba(0, 0, 0, 0);
    background-color: black;
    border-radius: 90px;
}